<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>army0.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7852ab9f58df96c6da465b9e57d1cd0e:883257cf58ada09880a4ef96952fcc88:25851efd5004d48cd4d6754895a8e3db$</string>
            <key>textureFileName</key>
            <string>army0.png</string>
        </dict>
    </dict>
</plist>
