<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>T_daoliang_zhishi02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,244}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{164,1},{244,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_daoliang_zhishi03_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,365}</string>
                <key>spriteSourceSize</key>
                <string>{161,365}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_daoliang_zhishiqi011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,248}</string>
                <key>spriteSourceSize</key>
                <string>{129,248}</string>
                <key>textureRect</key>
                <string>{{164,247},{129,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pack.png</string>
            <key>size</key>
            <string>{413,377}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e45fd9dd34a92dc8c8f1493263abddcc:1a7acd82d6b8eed5ed88179133f0d6d4:e5622e2e666fb66291b4de0715b53fdf$</string>
            <key>textureFileName</key>
            <string>pack.png</string>
        </dict>
    </dict>
</plist>
